{
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 2,
	"arrowParens": "always",
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"semi": true,
	"endOfLine": "lf",
	"importOrderSeparation": true,
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
